.card-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3%;
}

.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: auto;
  /* margin-bottom: 5%; */
  color: aliceblue;
}

.card.black {
  background-color: black;
}

.card.slate {
  background-color: slateblue;
}

.card.wide {
  width: 95%;
  min-height: 10%;
}


.card h1 {
  font-size: 4.5em;
}

.card.hover {
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card.hover:hover {
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(100, 20, 220, 0.8);
  color: antiquewhite;
  transform: scale(1.1);
}

.card-text-row {
  display: flex;
  justify-content: space-between;
}

.card-text {
  text-align: center;
  font-size: 2em;
}

.card-container {
  text-align: center;
}