html,
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbtn {
    width: 30%;
    font-size: 1.7em;
    border-radius: 8px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#qCard {
    font-size: 3rem;
    font-weight: bold;
}

#qText {
    font-size: 2rem;
    font-weight: bold;
}


h1 {
    text-align: center;
}

.modal {
    /* padding: 1em; */
    /* max-width: 50ch; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

    /* // border: 0; */
    /* // box-shadow: 0 0 1em rgb(0 0 0 / .3); */

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}



.modal-content {
    background-color: gainsboro;
    color: rgb(18, 18, 19);
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    font-size: 1.5em;
}


.autocomplete-input {
    padding: 25px 15px;
    border-radius: 1px;
    width: 90%;
    border: none;
    outline: none;
    color: blueviolet;
    background-color: #fff;
    font-size: 1.2rem;
}

.autocomplete-input::placeholder {
    color: blueviolet;
}

.autocomplete-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    color: blueviolet;

}

.autocomplete-list li {
    cursor: pointer;
    color: blueviolet;
    width: 100%;
}