html,
body {
  margin: 0;
  padding: 0;
  background: #3C5377;
}

:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #3C5377;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  --start_per: 20%;
  --end-per: 10%;

  /*   border radius */
  --radius: 0.2rem;
}



.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  /* text-align: center; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.content h1 span.fa {
  top: 0;
}

.fa-icon {
  align-self: center;
  cursor: pointer;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 0.5em;
  margin: 40px
}


.mainstudio {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer {
  position: absolute;
  width: 550px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
#reviewcard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-gray100);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.flipper {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.review-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;

  font-family: 'zilla slab', sans-serif;
  /* padding: 30px; */
  font-weight: bold;
  font-size: 30px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;


}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.review-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;

  font-family: 'zilla slab', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}


.review-front h1 {
  font-family: 'zilla slab', sans-serif;
  /* padding: 30px; */
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.review-back h1 {
  font-family: 'zilla slab', sans-serif;
  /* padding: 30px; */
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  color: #303;
}


.review-front p,
.review-back p {
  font-family: 'zilla slab', sans-serif;
  /* padding: 30px; */
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

.cardbuttoncontainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  overflow: hidden;
  /* background: #fafa00; */
  color: #333;

}

.navbtn {
  width: 33%;
  margin: auto;
  font-size: 1.3em;
  border-radius: 8px;
  cursor: pointer;
}

.longbtn {
  width: 80%;
  margin: auto;
  display: block;
  font-size: 1.3em;
  border-radius: 12px;
}

/* #btnDetails:hover {
  color: var(--clr-primary-dark);
} */


.textDiv {

  position: fixed;
  right: var(--end-per);
  bottom: 50%;
  z-index: -1;
  background-color: gainsboro;
  color: rgb(18, 18, 19);
  /* margin: 5% auto; */
  padding: 10px;
  width: 20%;
  max-width: 500px;
  font-size: 1.3em;
}


#btn2Details {
  color: #fc7478;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
}


/* Set scale and position it further to the right. When we bring it back 
  to -50% on x (middle of parent element) and +100% on y axis (above parent element) 
  on hover, it will look like it flew out from the side of the parent element in
  semi circular motion, which we want for our animation */
/* transition: transform ease-out 500ms,
    bottom ease-out 100ms,
    left ease-out 150ms,
    opacity ease-out 150ms; */

/* #btnDetails:hover::before {
  transform: scale(5) translateX(-50%);
  bottom: calc(100% + 2px);
  opacity: 1;
} */


.slide-right {
  animation-duration: 1s;
  animation-name: slideright;
}

@keyframes slideright {
  from {
    right: var(--start_per)
  }

  to {
    right: var(--end-per)
  }
}


.slide-left {
  animation-duration: 1s;
  animation-name: slideleft;
}

@keyframes slideleft {
  from {
    right: var(--end_per)
  }

  to {
    right: var(--start_per)
  }
}


.slide-up {
  animation-duration: 1s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    bottom: 30%;
  }

  to {
    bottom: 45%
  }
}

.slide-down {
  animation-duration: 0.8s;
  animation-name: slidedown;
}

@keyframes slidedown {
  from {
    bottom: 45%
  }

  to {
    bottom: 30%;
  }
}